    /* Style for the header bar */
    headerbar {
        background-color: #1f1f1f; /* Dark background color */           /* White text color */
        padding: 0px 10px;
        border-bottom: 1px solid #333; /* Bottom border for separation */
    }


    headerbar button {
        background-color: none; /* Transparent background for buttons */
        border: none;                  /* Remove button border */
        padding: 5px;
        margin: 5px 2px;
    }

    headerbar button:hover {
        background-color: #3c3c3c; 
    }

    #heading{
        font-size: 48px;
        color: black;
        font-weight: bold;
    }

    #main-vbox{
        margin-top: 15px;
    }

    #player-mode {
        font-size: 24px;
        background-color: #f0f0f0;
        width: 100px;
        margin: 5px;
        padding: 20px 30px;
        border-radius: 5px;
        border: 2px solid black ;
    }

    #player-mode:hover {
        background-color: #6C9BCF;
    }

    button {
        background-color: #f0f0f0;
        font-size: 44px;          
        font-weight: bold;         
        color: #2c3e50;            
        padding: 10px;            
        border: 3px solid #bdc3c7; 
        border-radius: 10px;       
        width: 100px;              
        height: 100px;           
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    button:hover {
        background-color: #ecf0f1; 
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    }

    button:active {
        background-color: #95a5a6; 
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); 
    }

    #label{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        margin: 10px 10px;
        color: #2c3e50;
        background-color: #40E0D0;
        border-radius: 5px;
        border: 2px solid white;
        width: 500px;

    }

    #player-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px; /* Adds spacing between elements */
    }
    

    #player-box {
        text-align: center;
        font-size: 30px;
        font-weight: normal;
        color: black;
        margin: 20px;
        border: none;
        box-shadow: none;
    }
    
    /* Active player button */
    #player-box.active-player {
        font-weight: bold; /* Bold text */
        border-bottom: 3px solid #40E0D0; /* Green underline */
        border-radius: 0px; /* No rounded corners for underline */
        padding-bottom: 7px; /* Adjust for visual alignment */
    }

    #player-box:hover{
        color: #40E0D0;
        transform: scale(1.05);
    }

    #switch-button{
        font-size: 28px;
        font-weight: bold;
        color: black;
        text-align: center;
        cursor: pointer;
        border: none;
        box-shadow: none;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    #switch-button:hover {
        color: #40E0D0;
        transform: scale(1.05);
    }

    #result-label{
        font-size: 36px;
        font-weight: bold;
        color: black;
        padding: 20px;
    }

    .winning-cells {
        background:#a4f0e8;
        color: black ;  
        border-color: black;
        animation: pulse 1s infinite;                
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 5px #40E0D0;
        }
        50% {
            box-shadow: 0 0 20px #40E0D0;
        }
        100% {
            box-shadow: 0 0 5px #40E0D0;
        }
    }

    #dropdown * {
        font-size: 24px;   
        padding: 2px;          
        border: none; 
        box-shadow: none;            
        margin-left: 5px;
        text-align: center;
    }


    #hbox-button{
        background: none; 
        border: none; 
        color: #40E0D0; 
        font-size: 18px;
        font-weight: bold;
        padding:5px;
        margin: 0 10px;
        text-align: center; 
        cursor: pointer;  
        box-shadow: none;
    }

    #hbox-button:hover{
        color: black;
        text-decoration: underline;
    }

    @media (max-width: 600px) {
        #player-box {
            font-size: 20px;
        }
    
        button {
            font-size: 24px;
            padding: 10px;
        }
    }
    
    @media (min-width: 601px) and (max-width: 900px) {
        #player-box {
            font-size: 25px;
        }
    
        button {
            font-size: 36px;
            padding: 15px;
        }
        #hbox-button{
            padding: 5px;
        }
    }
    
    @media (min-width: 901px) {
        #player-box {
            font-size: 30px;
        }
    
        button {
            font-size: 48px;
            padding: 20px;
        }
    }
    